# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Makefile
Makefile
makefile
gnuMakefile

#sqlite
*.sqlite

#image
*.jpeg
*.gif
*.png

#qt files
*.pro
*.pro.user
